<div id="horizontal-menu" class="nav-bar pure-menu pure-menu-open pure-menu-horizontal">

		<a href="/" class="pure-menu-heading">Energize Yale</a>
		<ul id="std-menu-items">
			<li><a href="/">Home</a></li>
			<li class="pure-menu-selected"><a href="/about">About</a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<li>
				<a href="/data">Data</a>
					<ul>
						<li class="pure-menu-heading">For Colleges</li>
						<li class="pure-menu-separator"></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BR">Branford</a></li>
						<li><a href="/data/CC">Calhoun</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
					</ul>
			</li>
		</ul>
	</div>

<div class="container">

	<h1 class='title'>
	Energize Yale
	</h1>
	<h2 class='subtitle'>
	Are Yale's Colleges Conserving Energy?
	</h2>


	<div class='chart'>


<!-- actual chart -->
			<div id="chart"></div> 

			<script type="text/javascript">
				
			var chart = c3.generate({
			    data: {
			        columns: [

			            <%= negdata %>, <%= posdata %>,
			        ],
			        type: 'bar',
			        labels: true
			    },


			axis: {
			        rotated: true
			    },



			    grid: {
			        y: {
			            lines: [{value: 0}]
			        }
			    },



			});

			</script>

		</div>

	</div>