<div class='sticky'>
  <nav class='top-bar' data-topbar>
  <ul class='title-area'>
  <li class='name'>
  <h1>
  <a href='/'>Energize Yale | Compete to Conserve</a>
  </h1>
  </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class='top-bar-section'>
  <ul class='right'>
  <li class='has-form'>
  <a class='button' href='#'>How Do You Stack Up?</a>
  </li>
  <li class='divider'></li>
  <li>
  <a href='/about'>About</a>
  </li>
  <li class='divider'></li>
  <li class='has-dropdown'>
    <a href='#'>College Data</a>
    <ul class='dropdown'>
      <li><a href='/data/bk'>Berkeley</a></li>
      <li><a href='/data/br'>Branford</a></li>
      <li><a href='/data/cc'>Calhoun</a></li>
      <li><a href='/data/dc'>Davenport</a></li>
      <li><a href='/data/es'>Ezra Stiles</a></li>
      <li><a href='/data/je'>Jonathan Edwards</a></li>
      <li><a href='/data/mc'>Morse</a></li>
      <li><a href='/data/pc'>Pierson</a></li>
      <li><a href='/data/sy'>Saybrook</a></li>
      <li><a href='/data/sm'>Siliman</a></li>
      <li><a href='/data/td'>Timothy Dwight</a></li>
      <li><a href='/data/tc'>Trumbull</a></li>
    </ul>
  </li>


  <li class='divider'></li>
  <li>
  <a href='#'>Button 3</a>
  </li>
  <li class='divider'></li>
  <li>
  <a href='#'>Button 4</a>
  </li>
  </ul>
  </section>
  </nav>
  </div>
<h1 class='title'>
  Electricity and Gas Usage
  </h1>
  <h2 class='subtitle'>
  Are Yale's Colleges Conserving Energy?
  </h2>

<div class = "chart">
<div id="chart"></div>

<script type="text/javascript">

  var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    y = w.innerHeight|| e.clientHeight|| g.clientHeight;
</script>


<script type="text/javascript">

var chart = c3.generate({
   size: {
      height: .75 *  y
    },
    data: {
          x: 'x',
        columns: [
            <%=finaldates%>,
            <%= data %>
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d'
            }
        }
    },

     zoom: {
        enabled: true
    },
    subchart:{
      show: true
    }
});

</script>

</div>

</div>
