<div class='sticky'>
<nav class='top-bar' data-topbar>
<ul class='title-area'>
<li class='name'>
<h1>
<a href='/'>Energize Yale | Compete to Conserve</a>
</h1>
</li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>
<section class='top-bar-section'>
<ul class='right'>
<li class='has-form'>
<a class='button' href='#'>How Do You Stack Up?</a>
</li>
<li class='divider'></li>
<li>
<a href='/about'>About</a>
</li>
<li class='divider'></li>
<li class='has-dropdown'>
  <a href='#'>College Data</a>
  <ul class='dropdown'>
    <li><a href='/data/bk'>Berkeley</a></li>
    <li><a href='/data/br'>Branford</a></li>
    <li><a href='/data/cc'>Calhoun</a></li>
    <li><a href='/data/dc'>Davenport</a></li>
    <li><a href='/data/es'>Ezra Stiles</a></li>
    <li><a href='/data/je'>Jonathan Edwards</a></li>
    <li><a href='/data/mc'>Morse</a></li>
    <li><a href='/data/pc'>Pierson</a></li>
    <li><a href='/data/sy'>Saybrook</a></li>
    <li><a href='/data/sm'>Siliman</a></li>
    <li><a href='/data/td'>Timothy Dwight</a></li>
    <li><a href='/data/tc'>Trumbull</a></li>
  </ul>
</li>


<li class='divider'></li>
<li>
<a href='#'>Button 3</a>
</li>
<li class='divider'></li>
<li>
<a href='#'>Button 4</a>
</li>
</ul>
</section>
</nav>
</div>

<% images = {'BERKELEY COLLEGE' => "http://upload.wikimedia.org/wikipedia/commons/b/b4/Berkeley_College_(South)_at_Yale.jpg", 'BRANFORD COLLEGE'=>"http://31.media.tumblr.com/97d7ce38de20a27211fa78adfbd9e79c/tumblr_mrumvndF8n1r0cgg3o9_1280.jpg", 
  'CALHOUN COLLEGE,JOHN'=>"http://upload.wikimedia.org/wikipedia/commons/f/f0/Calhoun_College_2011._JPM.jpg", 'DAVENPORT COLLEGE'=>"http://upload.wikimedia.org/wikipedia/commons/f/f0/Calhoun_College_2011._JPM.jpg", 
  'EZRA STILES COLLEGE'=>"https://yy2.staticflickr.com/7040/6928558411_5fbe35d3a4_z.jpg" , 'JONATHAN EDWARDS COL'=>"http://upload.wikimedia.org/wikipedia/commons/f/f4/JE_Dining_Hall_set_up_for_Senior_Dinner.JPG", 
  'MORSE COLLEGE'=>"http://kierantimberlake.com/files/pages/10/morse_01.jpg", 'PIERSON COLLEGE'=> "http://pierson.yalecollege.yale.edu/sites/default/files/styles/threshold-1382/public/bl0105-large_0.jpg", 'SAYBROOK COLLEGE'=>"http://static.panoramio.com/photos/large/45521356.jpg",
  'SILLIMAN COLLEGE'=>"https://c2.staticflickr.com/8/7179/7120205533_32a9afba0d.jpg", 'TIMOTHY DWIGHT COLL.'=> "http://timothydwight.yalecollege.yale.edu/sites/default/files/styles/adaptive/public/timothydwight1.png", 'TRUMBULL COLLEGE'=> "http://upload.wikimedia.org/wikipedia/en/5/5b/MainCourtyard.jpg"} %>

<div class="container">


<h1 class='title'>
  Energy Reductions
  </h1>
  <h2 class='subtitle'>
  Are Yale's Colleges Conserving Energy?
  </h2>

<div class = "chart">
<div id="chart"></div>

<script type="text/javascript">
  var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    y = w.innerHeight|| e.clientHeight|| g.clientHeight;
</script>


<script type="text/javascript">

var chart = c3.generate({
    size: {
      height: .75 *  y
    },
    data: {
        rows: [
            // <%= negdata %>, <%= posdata %>
            <%=college%>, <%=data %>
        ],
        type: 'bar',
    colors: {
              <% if college.index('BERKELEY') > 5 %>
                  'BERKELEY': '#DD0000',
              <% else %>
                  'BERKELEY': '#11AE28',
              <% end %>

               <% if college.index('BRANFORD') > 5 %>
                  'BRANFORD': '#DD0000',
              <% else %>
                  'BRANFORD': '#11AE28',
              <% end %>

               <% if college.index('CALHOUN') > 5 %>
                  'CALHOUN': '#DD0000',
              <% else %>
                  'CALHOUN': '#11AE28',
              <% end %>

               <% if college.index('DAVENPORT') > 5 %>
                  'DAVENPORT': '#DD0000',
              <% else %>
                  'DAVENPORT': '#11AE28',
              <% end %>

              <% if college.index('EZRA STILES') > 5 %>
                  'EZRA STILES': '#DD0000',
              <% else %>
                  'EZRA STILES': '#11AE28',
              <% end %>

              <% if college.index('JONATHAN EDWARDS') > 5 %>
                  'JONATHAN EDWARDS': '#DD0000',
              <% else %>
                  'JONATHAN EDWARDS': '#11AE28',
              <% end %>

              <% if college.index('MORSE') > 5 %>
                  'MORSE': '#DD0000',
              <% else %>
                  'MORSE': '#11AE28',
              <% end %>

              <% if college.index('PIERSON') > 5 %>
                  'PIERSON': '#DD0000',
              <% else %>
                  'PIERSON': '#11AE28',
              <% end %>

              <% if college.index('SAYBROOK') > 5 %>
                  'SAYBROOK': '#DD0000',
              <% else %>
                  'SAYBROOK': '#11AE28',
              <% end %>

              <% if college.index('SILLIMAN') > 5 %>
                  'SILLIMAN': '#DD0000',
              <% else %>
                  'SILLIMAN': '#11AE28',
              <% end %>

              <% if college.index('TIMOTHY DWIGHT') > 5 %>
                  'TIMOTHY DWIGHT': '#DD0000',
              <% else %>
                  'TIMOTHY DWIGHT': '#11AE28',
              <% end %>

              <% if college.index('TRUMBULL') > 5 %>
                  'TRUMBULL': '#DD0000',
              <% else %>
                  'TRUMBULL': '#11AE28',
              <% end %>

              },
              size:{
                height: 1
              },
        labels: {
          format:{
            format: function (v, id) { return "Default Format on " + id; },
                y: function (v, id) { return id + '\t'+ Math.round(v*100) + '%'; },
          }
        },
        zoom:{
          enabled: true
        }
    },
  axis: {
        rotated: true,
        x:{
          label: {
            text: 'Residential Colleges',
            position: 'outer-middle'
          },
          tick:{
            fit: true,
          }
        }, 
        y:{
          label: {
          text: 'Percent improvement from the previous month (Kilowatt Hours)',
          position: 'outer-center'
          },
          tick:{
              format: d3.format('%'),
          }
        },
    },
    grid: {
        y: {
            lines: [{value: 0}],
        }, 
        x:{
          show: true
        }
    },
    bar: {
      width: {
        ratio: 1
      }
    },
    tooltip: {
        format: {
            title: function (d) { return 'Data ' + d; },
            value: d3.format("g")
        }, 
        grouped : false
    },
    legend:{
      position:'right'
    }
});

</script>
   
     </div>
     </div>
     <img src="http://upload.wikimedia.org/wikipedia/commons/b/b4/Berkeley_College_(South)_at_Yale.jpg">

   