<div class='sticky'>
<nav class='top-bar' data-topbar>
<ul class='title-area'>
<li class='name'>
<h1>
<a href='/'>Energize Yale | Compete to Conserve</a>
</h1>
</li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>
<section class='top-bar-section'>
<ul class='right'>
<li class='has-form'>
<a class='button' href='#'>How Do You Stack Up?</a>
</li>
<li class='divider'></li>
<li>
<a href='/about'>About</a>
</li>
<li class='divider'></li>
<li>
<a href='#'>Data</a>
</li>
<li class='divider'></li>
<li>
<a href='#'>Button 3</a>
</li>
<li class='divider'></li>
<li>
<a href='#'>Button 4</a>
</li>
</ul>
</section>
</nav>
</div>

  <div class="container">

  <h1 class='title'>
  Energy Reductions
  </h1>
  <h2 class='subtitle'>
  Are Yale's Colleges Conserving Energy?
  </h2>


  <div class='chart'>


  <div id="chart"></div>


<script type="text/javascript">
  var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    y = w.innerHeight|| e.clientHeight|| g.clientHeight;
</script>


<script type="text/javascript">
var chart = c3.generate({
    size: {
      height: .75 *  y
    },
    data: {
        columns: [
            <%= negdata %>, 
            <%= posdata %>
        ],
        type: 'bar',
    colors: {
                'Best Colleges': '#11AE28',
                'Worst Colleges': '#DD0000'
              },
        labels: {
          format:{
            y: d3.format('%'),
             // d3.style("font-size", "34px")
          }
        },
        zoom:{
          enabled: true
        }
    },
  axis: {
        rotated: true,
        x:{
          label: {
            text: 'Residential Colleges',
            position: 'outer-middle'
          },
          tick:{
            fit: true,
          }
        }, 
        y:{
          label: {
          text: 'Percent improvement from the previous month (Kilowatt Hours)',
          position: 'outer-center'
          },
          tick:{
              format: d3.format('%'),
          }
        },
    },
    grid: {
        y: {
            lines: [{value: 0}]
        }
    },
    bar: {
      width: {
        ratio: 1
      }
    },
    tooltip: {
        format: {
            title: function (d) { return 'Data ' + d; },
            value: d3.format("g")
        }
    }
});
</script>

  </div>
  </div>



    <button class="button-large pure-button pure-button-primary">See the Leaderboard</button>

