<!DOCTYPE html>
<html>
	<head>
		<link type: "text/css" rel="stylesheet" href = "/style.css">
					<!-- further links to fonts and javascript -->
		<title>Energize Yale</title>
	</head>
	<body>
		<div>
			<%= yield %>		
		</div>
	</body>
</html>
