<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>

		 <link rel="stylesheet" href="/css/normalize.css">
 		 <link rel="stylesheet" href="/css/foundation.css">



		<script src="/c3.min.js" charset="utf-8"></script>


		<script src="vendor/modernizr.js"></script>


		<link rel="stylesheet" href="/c3.css">


<!-- 		<script src="http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script>
 -->

<!-- 		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
 -->
		<link type: "text/css" rel="stylesheet" href = "/style.css">
					<!-- further links to fonts and javascript -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script src="js/d3.js" charset="utf-8"></script>



		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->


<!-- 		    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">

 -->
		<!--<![endif]-->



		<title>Energize Yale</title>
	</head>
	<body>
	
	









		<div>
			<%= yield %>		
		</div>

<script src="js/vendor/jquery.js"></script>
	<script src="/js/vendor/fastclick.js"></script>

	</body>
	
	<script src="js/foundation.js"></script>
	 <script src="js/foundation.topbar.js"></script>
	 <script src="js/foundation.dropdown.js"></script>

 	 <script>
   			 $(document).foundation();
   			 $(document).foundation().foundation('top-bar');

  	</script>
	
</html>
