
<style>
.sticky{
	position: fixed;
	z-index: 999;
}

.cuisine {
    margin-top:50px;
}

</style>

    <div class='contain-to-grid sticky'>
      <nav class='top-bar'>
        <ul class='title-area'>
          <li class='name'>
            <h1>
              <a href='#'>
                Logo
              </a>
            </h1>
          </li>
        </ul>
      </nav>
    </div>
    <div class='row'>
      <div class='cuisines large-6 columns complementary'>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 1
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 2
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 3
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 4
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 5
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 6
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 7
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 8
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 9
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 10
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 11
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 12
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 13
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 14
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 15
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 16
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 17
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 18
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 19
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 20
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 21
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 22
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 23
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 24
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 25
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 26
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 27
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 28
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 29
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 30
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 31
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 32
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 33
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 34
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 35
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 36
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 37
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 38
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 39
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 40
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 41
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 42
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 43
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 44
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 45
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 46
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 47
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 48
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 49
          </div>
        </div>
        <div class='row'>
          <div class='cuisine large-12 columns'>
            Item 50
          </div>
        </div>
      </div>
    </div>
  </body>
