<div class='sticky'>
<nav class='top-bar' data-options='sticky_on: large' data-topbar>
<ul class='title-area'>
<li class='name'>
<h1>
<a href='/'>Energize Yale | Compete to Conserve</a>
</h1>
</li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

</ul>
<section class='top-bar-section'>
<ul class='right'>
<li class='has-form'>
<a class='button' href='#'>How Do You Stack Up?</a>
</li>
<li class='divider'></li>
<li>
<a href='/about'>About</a>
</li>
<li class='divider'></li>
<li>
<a href='#'>Data</a>
</li>
<li class='divider'></li>
<li>
<a href='#'>Button 3</a>
</li>
<li class='divider'></li>
<li>
<a href='#'>Button 4</a>
</li>
</ul>
</section>
</nav>
</div>
