<div id="horizontal-menu" class="nav-bar pure-menu pure-menu-open pure-menu-horizontal">

		<a href="/" class="pure-menu-heading">Energize Yale</a>
		<ul id="std-menu-items">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li class="pure-menu-selected"><a href="/leaderboard">Leaderboard</a></li>
			<li>
				<a href="/data">Data</a>
					<ul>
						<li class="pure-menu-heading">For Colleges</li>
						<li class="pure-menu-separator"></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BR">Branford</a></li>
						<li><a href="/data/CC">Calhoun</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
						<li><a href="/data/BK">Berkeley</a></li>
					</ul>
			</li>
		</ul>
	</div>


	<p>Click the button to display the total height of your screen, in pixels.</p>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>

<script>
function myFunction() {
    var x = "Total Height: " + window.screen.availHeight + "px";
    document.getElementById("demo").innerHTML = x;
}
</script>
