/*.nav-bar{
  margin-bottom: 30px;
}
*/
body{
	/*background-color: #CAF3B1*/
/*  background-color: #EDEDED
*/
	background-color: white;
}


h1.title{
	margin: 16px 0;
	text-align: left;
	font-size: 25px;
	display: inline-block;
 
}

h2.subtitle{
	margin-left: 9px;
	text-align: left;
	display: inline-block;
	font-size: 20px;
}


.container{
	width: 90%;
	margin: 0 auto;
/*	text-align: center
*/
}

h1, h2, h3, h4{
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}




.chart{
  /*background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding-top: 18px;
  padding-bottom: 18px;*/
  /*margin-left: 17%;*/
  /*left: 0;*/
/*  margin: auto;
*/  margin-top: 32px; 
  
  /*width: 90%;*/
}

/*h1{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	text-align: center;
}*/

/*this is for the Green Google Chart we will delete*/
.G-chart div {
  font: 10px sans-serif;
  background-color:#11AE28;
  text-align: right;
  padding: 10px;
  padding-bottom: 5px;
  margin: 1px;
  color: white;
  z-index:999;
}

.bar.positive {
  fill: steelblue;
}

.bar.negative {
  fill: brown;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.button-large{
  margin-top: 50px;
  font-size:110%;
  margin-left: 47%;

}